@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.2rem;
  color: rgba(49, 47, 47, 0.8);
}

h5 {
  color: rgba(49, 47, 47, 0.8);
}

.form-text {
  box-shadow: 1px 1px 3px 2px #dfdfdf;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
}

.search-history li {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  list-style-type: none;
  border: 0.3px solid rgba(49, 47, 47, 0.8);
  margin-left: -2rem;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 0.5px 0.5px rgba(49, 47, 47, 0.25);
}

.search-history li:active {
  color: white;
  background-color: #1D976C;
}

.city-info {
  border: 01px solid black;
  height: 25vh;
  min-height: 190px;
  color:rgba(49, 47, 47, 0.8);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 1px 1px rgba(49, 47, 47, 0.25);
}


.five-days-container {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  flex-wrap: wrap;
}

.one-day {
  width: 5rem;
  height: 7rem;
  border: 0.3px solid rgba(49, 47, 47, 0.8);
  flex: 1 1 120px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 0.5px 0.5px rgba(49, 47, 47, 0.25);
}